# Final Assignment Notebook for Peer Assignment

In [1]:
!pip install ipython-sql
!pip install sqlalchemy==1.3.9
!pip install ibm_db
!pip install ibm_db_sa
!pip install ibm-db
!pip install ibm-db-sa
!pip install sqlalchemy==1.3.9
from sqlalchemy import *
import ibm_db
import ibm_db_sa

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.22)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (59.2.0)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\user\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db in c:\users\user\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: ibm_db_sa in c:\users\user\anaconda3\lib\site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\user\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db in c:\users\user\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: ibm-db-sa in c:\users\user\anaconda3\lib\site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ibm-db-sa) (3.1.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\user\anaconda3\lib\site-packages (from ibm-db-sa) (1.3.9)
Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\user\anaconda3\lib\site-packages (1.3.9)

In [2]:
%load_ext sql

In [14]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://sfl14780:ofGCczOxlcYnOQuK@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?security=SSL

### password: ofGCczOxlcYnOQuK
        
### username: sfl14780
 
### database: bludb
      
### hostname: 55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud
          
### port: 31929

Service credentials-1	2021-11-21 11:03 AM	Copy to clipboard
{
  "connection": {
    "cli": {
      "arguments": [
        [
          "-u",
          "sfl14780",
          "-p",
          "ofGCczOxlcYnOQuK",
          "--ssl",
          "--sslCAFile",
          "1dd14d0c-1b52-4f63-a606-53ecba28771d",
          "--authenticationDatabase",
          "admin",
          "--host",
          "55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929"
        ]
      ],
      "bin": "db2",
      "certificate": {
        "certificate_base64": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIVENDQWdXZ0F3SUJBZ0lVT3dvMC9va09CUEN5RjFWeFJxVGhKRW9ubDBVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0hqRWNNQm9HQTFVRUF3d1RTVUpOSUVOc2IzVmtJRVJoZEdGaVlYTmxjekFlRncweU1EQTRNRFF3TWpVMwpNalphRncwek1EQTRNREl3TWpVM01qWmFNQjR4SERBYUJnTlZCQU1NRTBsQ1RTQkRiRzkxWkNCRVlYUmhZbUZ6ClpYTXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEb0ZFNGQ0SGdOeXZMUVIwR3gKQTB0amRXQnM4NVBjTDNyRStjN1R3K2diRUdQSUxJU0VZV3o4Y1g1TG1XQk0rY1FnOG9VeSsrQXJ3OEoxaXdRZQpySmlIU2I1clF4WTM0c3BQeGRFVEZkWEhScnJhMGU2VmM4MW42TllJL0ZHSnl1Q3hrTG5GMUtFQW9hbHYwaDM2CnhDT0FvcXRwTlFrTzNpMTRGeU0yRDRiajkxckI4RGk4Vy9XMVpVdVhMNGwzZXVLZUVCeTRuZmhJV3kySVc3aUMKbGpMZ3RlN3hZTDVHbVpKOUdsYWtrSnJ1cnpNREFQLzVUYnRlUUIydElodTBRSVRFZHlESVFYUEZGRDBHYzloZAo3M29JdnpVZUJ3VC9uRHN3OTJNNC82SkdtZWpKN0lpdFBTN3Y2a2dlUVhINDlBaUVJNXpQdUVpVzNOYi9GR0pYCmY2a2JBZ01CQUFHalV6QlJNQjBHQTFVZERnUVdCQlR2RzZ2RU5MRjFVbWZnQ003MmxOcmMzSDI2bURBZkJnTlYKSFNNRUdEQVdnQlR2RzZ2RU5MRjFVbWZnQ003MmxOcmMzSDI2bURBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUEwRwpDU3FHU0liM0RRRUJDd1VBQTRJQkFRQTgvdFVnUTZlaTZYWHZndDJ0dUdrbkpva1Y5UWNkaTNZbFVFWkNDUytjClVQZ3NnMnVBMldxcHlWTm1mRkhjcHZ1Vmp0VHRYTmk2NUM2WlZsRnYxc3p1cU9zdFB5bkJ4blN4cUs0dkc0dTkKVjBWRUgxcE1tZnZBSmxkV3c4UEJTZGJtTk1HdGM4SzlwT0o5OVdBQ1ZFRXVXVGdDeHJKTXFBZnpYUXlidUV0dwp0cW1pV2swTmVXNGk5ZEY4S2dTWUVaQWFodXVBSlRldXB2R2RPV1U0eEV4bm03aEVRbmZPV2ZITThDd08xNWFZClRGQ2s0Q0pDUmR4Mlg5U284V3o1Z3MzcncyRkFDQlJyZ0NYeFFDZnZrZTZUdVNHNkxFRHJHbmpWaXVSQkpZdW4KT1RxWXROaVBHaHpuTHJrL0Fzam1LMzBxQmFLTmFyNUdQajhqalpNb2RiZ04KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=",
        "name": "1dd14d0c-1b52-4f63-a606-53ecba28771d"
      },
      "composed": [
        "db2 -u sfl14780 -p ofGCczOxlcYnOQuK --ssl --sslCAFile 1dd14d0c-1b52-4f63-a606-53ecba28771d --authenticationDatabase admin --host 55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929"
      ],
      "environment": {},
      "type": "cli"
    },
    "db2": {
      "authentication": {
        "method": "direct",
        "password": "ofGCczOxlcYnOQuK",
        "username": "sfl14780"
      },
      "certificate": {
        "certificate_base64": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIVENDQWdXZ0F3SUJBZ0lVT3dvMC9va09CUEN5RjFWeFJxVGhKRW9ubDBVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0hqRWNNQm9HQTFVRUF3d1RTVUpOSUVOc2IzVmtJRVJoZEdGaVlYTmxjekFlRncweU1EQTRNRFF3TWpVMwpNalphRncwek1EQTRNREl3TWpVM01qWmFNQjR4SERBYUJnTlZCQU1NRTBsQ1RTQkRiRzkxWkNCRVlYUmhZbUZ6ClpYTXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEb0ZFNGQ0SGdOeXZMUVIwR3gKQTB0amRXQnM4NVBjTDNyRStjN1R3K2diRUdQSUxJU0VZV3o4Y1g1TG1XQk0rY1FnOG9VeSsrQXJ3OEoxaXdRZQpySmlIU2I1clF4WTM0c3BQeGRFVEZkWEhScnJhMGU2VmM4MW42TllJL0ZHSnl1Q3hrTG5GMUtFQW9hbHYwaDM2CnhDT0FvcXRwTlFrTzNpMTRGeU0yRDRiajkxckI4RGk4Vy9XMVpVdVhMNGwzZXVLZUVCeTRuZmhJV3kySVc3aUMKbGpMZ3RlN3hZTDVHbVpKOUdsYWtrSnJ1cnpNREFQLzVUYnRlUUIydElodTBRSVRFZHlESVFYUEZGRDBHYzloZAo3M29JdnpVZUJ3VC9uRHN3OTJNNC82SkdtZWpKN0lpdFBTN3Y2a2dlUVhINDlBaUVJNXpQdUVpVzNOYi9GR0pYCmY2a2JBZ01CQUFHalV6QlJNQjBHQTFVZERnUVdCQlR2RzZ2RU5MRjFVbWZnQ003MmxOcmMzSDI2bURBZkJnTlYKSFNNRUdEQVdnQlR2RzZ2RU5MRjFVbWZnQ003MmxOcmMzSDI2bURBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUEwRwpDU3FHU0liM0RRRUJDd1VBQTRJQkFRQTgvdFVnUTZlaTZYWHZndDJ0dUdrbkpva1Y5UWNkaTNZbFVFWkNDUytjClVQZ3NnMnVBMldxcHlWTm1mRkhjcHZ1Vmp0VHRYTmk2NUM2WlZsRnYxc3p1cU9zdFB5bkJ4blN4cUs0dkc0dTkKVjBWRUgxcE1tZnZBSmxkV3c4UEJTZGJtTk1HdGM4SzlwT0o5OVdBQ1ZFRXVXVGdDeHJKTXFBZnpYUXlidUV0dwp0cW1pV2swTmVXNGk5ZEY4S2dTWUVaQWFodXVBSlRldXB2R2RPV1U0eEV4bm03aEVRbmZPV2ZITThDd08xNWFZClRGQ2s0Q0pDUmR4Mlg5U284V3o1Z3MzcncyRkFDQlJyZ0NYeFFDZnZrZTZUdVNHNkxFRHJHbmpWaXVSQkpZdW4KT1RxWXROaVBHaHpuTHJrL0Fzam1LMzBxQmFLTmFyNUdQajhqalpNb2RiZ04KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=",
        "name": "1dd14d0c-1b52-4f63-a606-53ecba28771d"
      },
      "composed": [
        "db2://sfl14780:ofGCczOxlcYnOQuK@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?authSource=admin&replicaSet=replset"
      ],
      "database": "bludb",
      "host_ros": [
        "55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30182"
      ],
      "hosts": [
        {
          "hostname": "55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud",
          "port": 31929
        }
      ],
      "jdbc_url": [
        "jdbc:db2://55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb:user=<userid>;password=<your_password>;sslConnection=true;"
      ],
      "path": "/bludb",
      "query_options": {
        "authSource": "admin",
        "replicaSet": "replset"
      },
      "replica_set": "replset",
      "scheme": "db2",
      "type": "uri"
    }
  },
  "instance_administration_api": {
    "deployment_id": "crn:v1:bluemix:public:dashdb-for-transactions:eu-gb:a/0eae5e704f614eb5bd58ea2236fbdc45:541ac8b2-998a-4ee0-9fb3-2933f7dd38f4::",
    "instance_id": "crn:v1:bluemix:public:dashdb-for-transactions:eu-gb:a/0eae5e704f614eb5bd58ea2236fbdc45:541ac8b2-998a-4ee0-9fb3-2933f7dd38f4::",
    "root": "https://apieugb.db2.cloud.ibm.com/v5/ibm"
  }
}

# Problems
Now write and execute SQL queries to solve assignment problems

In [28]:
# WALK THROUGH THE TABLES CONTENT
# The CHICAGO_CRIME_DATA table contains a large number of columns. How many columns does this table have?

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(21,)]

In [29]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ARREST', 'VARCHAR ', 5),
 ('BEAT', 'SMALLINT', 2),
 ('BLOCK', 'VARCHAR ', 35),
 ('CASE_NUMBER', 'VARCHAR ', 8),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('DATE', 'DATE    ', 4),
 ('DESCRIPTION', 'VARCHAR ', 46),
 ('DISTRICT', 'SMALLINT', 2),
 ('DOMESTIC', 'VARCHAR ', 5),
 ('FBICODE', 'VARCHAR ', 3),
 ('ID', 'INTEGER ', 4),
 ('IUCR', 'VARCHAR ', 4),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LOCATION', 'VARCHAR ', 29),
 ('LOCATION_DESCRIPTION', 'VARCHAR ', 33),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('PRIMARY_TYPE', 'VARCHAR ', 50),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'INTEGER ', 4),
 ('YEAR', 'SMALLINT', 2),
 ('Y_COORDINATE', 'INTEGER ', 4)]

In [30]:
%sql select * FROM CHICAGO_CRIME_DATA LIMIT 5

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.date(2004, 6, 26), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.date(2011, 4, 4), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.date(2010, 12, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.date(2016, 2, 2), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)')]

In [31]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(78,)]

In [32]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR ', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 6),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR ', 6),
 ('CITY', 'VARCHAR ', 7),
 ('COLLABORATIVE_NAME', 'VARCHAR ', 34),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR ', 4),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR ', 15),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR ', 16),
 ('ENVIRONMENT_ICON', 'VARCHAR ', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR ', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR ', 3),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR ', 4),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GRADUATION_RATE__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR ', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR ', 3),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR ', 7),
 ('INSTRUCTION_ICON', 'VARCHAR ', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL ', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL ', 4),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL ', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL ', 3),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LEADERS_ICON', 'VARCHAR ', 4),
 ('LEADERS_SCORE', 'VARCHAR ', 3),
 ('LINK', 'VARCHAR ', 78),
 ('LOCATION', 'VARCHAR ', 27),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 64),
 ('NETWORK_MANAGER', 'VARCHAR ', 40),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR ', 3),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR ', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR ', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR ', 3),
 ('PHONE_NUMBER', 'VARCHAR ', 14),
 ('PK_2_LITERACY__', 'VARCHAR ', 4),
 ('PK_2_MATH__', 'VARCHAR ', 4),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL ', 5),
 ('SAFETY_ICON', 'VARCHAR ', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('SCHOOL_ID', 'INTEGER ', 4),
 ('STATE', 'VARCHAR ', 2),
 ('STREET_ADDRESS', 'VARCHAR ', 29),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR ', 4),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR ', 4),
 ('TEACHERS_ICON', 'VARCHAR ', 11),
 ('TEACHERS_SCORE', 'VARCHAR ', 3),
 ('TRACK_SCHEDULE', 'VARCHAR ', 12),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('ZIP_CODE', 'INTEGER ', 4)]

In [33]:
%sql select * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 5

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', Decimal('10.4'), '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', Decimal('11.1'), Decimal('9.6'), Decimal('0.9'), Decimal('2.4'), 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', Decimal('1164504.290'), Decimal('1873959.199'), Decimal('41.80975690'), Decimal('-87.67214460'), 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', Decimal('15.6'), '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', Decimal('1175177.622'), Decimal('1880745.126'), Decimal('41.82814609'), Decimal('-87.63279369'), 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

In [34]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CENSUS_DATA'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(0,)]

In [35]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CENSUS_DATA'

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[]

In [36]:
%%sql
select * FROM CENSUS_DATA LIMIT 5

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "SFL14780.CENSUS_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: select * FROM CENSUS_DATA LIMIT 5]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 1
Find the total number of crimes recorded in the CRIME table.

In [38]:
%%sql
SELECT COUNT(*)AS NUMBER_OF_CRIMES 
FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(533,)]

### Problem 2
List community areas with per capita income less than 11000.

In [39]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
FROM CENSUS_DATA 
WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "SFL14780.CENSUS_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA
WHERE PER_CAPITA_INCOME < 11000;]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 3
List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [40]:
%%sql 
SELECT CASE_NUMBER
FROM CHICAGO_CRIME_DATA 
WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('HL266884',), ('HK238408',)]

### Problem 4
List all kidnapping crimes involving a child?

In [41]:
%%sql 
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION
FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE = 'KIDNAPPING';

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5
What kinds of crimes were recorded at schools?

In [42]:
%%sql
SELECT DISTINCT(PRIMARY_TYPE)
FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6
List the average safety score for all types of schools.

In [43]:
%%sql
SELECT "Elementary, Middle, or High School",AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7
List 5 community areas with highest % of households below poverty line

In [44]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5 ;

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "SFL14780.CENSUS_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5 ;]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 8
Which community area is most crime prone?

In [45]:
%%sql
SELECT CCD.COMMUNITY_AREA_NUMBER ,COUNT(CCD.COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA AS CCD 
GROUP BY CCD.COMMUNITY_AREA_NUMBER
ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC
LIMIT 1

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(25, 43)]

### Problem 9
Use a sub-query to find the name of the community area with highest hardship index

In [46]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM  CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://sfl14780:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "SFL14780.CENSUS_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 10
Use a sub-query to determine the Community Area Name with most number of crimes?

In [1]:
%%sql
SELECT community_area_name
FROM CHICAGO_CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (    
    SELECT CCD.COMMUNITY_AREA_NUMBER 
    FROM CHICAGO_CRIME_DATA AS CCD 
    GROUP BY CCD.COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)

LIMIT 1;

UsageError: Cell magic `%%sql` not found.